  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h3 class="header amber-text text-darken-1">Dashboard</h3>
      <a class="waves-effect waves-light btn green">New</a>
      <a class="waves-effect waves-light btn red">Delete</a>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <!--   Table Section   -->
      <div>
        <table class="bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Company Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Blockchain Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mehran Hydary</td>
              <td>Deloitte Canada</td>
              <td>mhydary@deloitte.ca</td>
              <td>Admin</td>
              <td>1BoatSLRHtKNngkdXEeobR76b53LETtpyT</td>

            </tr>

            <tr>
              <td>Shannon Steele</td>
              <td>Deloitte Canada</td>
              <td>ssteele@deloitte.ca</td>
              <td>Admin</td>
              <td>1BoatSLRHtKNngkdXEeobR76b53LETtpyT</td>

            </tr>
            <tr>
              <td>Victoria Henri</td>
              <td>Deloitte Canada</td>
              <td>vhenri@deloitte.ca</td>
              <td>Admin</td>
              <td>1BoatSLRHtKNngkdXEeobR76b53LETtpyT</td>
            </tr>         
            <tr>
              <td>Samuel Lai</td>
              <td>Deloitte Canada</td>
              <td>salai@deloitte.ca</td>
              <td>Admin</td>
              <td>1BoatSLRHtKNngkdXEeobR76b53LETtpyT</td>

            </tr>                                                
          </tbody>
        </table>
      </div>
    </div>
    <br><br>
  </div>

  